.contacts {
    padding: 55px 30px 63px;
    text-align: center;
}

.contacts-title {
    font-weight: 700;
    font-size: 34px;
    color: var(--color-main-black);
}

.contacts-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main-black);
    border-radius: 21px;
    border: none;
    margin: 42px auto 30px;
    width: 210px;
    height: 42px;
}

.button-link {
    color: var(--bg-main);
    font-weight: 500;
    font-size: 24px;
}

.socials {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}

.social-icon {
    width: 65px;
    height: 65px;
    color: var(--color-main-black);
}

.social-icon:hover {
    fill: var(--font-color-grey);
}


.contacts-info {
    color: var(--font-color-grey);
    font-weight: 500;
    font-size: 16px;
    width: 260px;
    margin: 35px auto 0;
}


@media (max-width: 480px) {
    .contacts-info {
        font-size: 14px;
    }

    .social-icon {
        width: 55px;
        height: 55px;
        color: var(--color-main-black);
    }

    .socials {
        gap: 20px;
    }
}